<launch>                                                                                                                                          

    <node name="serial" pkg="rosserial_python" type="serial_node.py">
        <param name="port" value="/dev/ttyTHS1"/>
        <param name="baud" value="500000"/>
    </node>
    <node name="ImuData" pkg="mpu_6050_driver" type="imu_node.py"/>
</launch>  
